<% layout('/layouts/default.html', {title: 'bp查询', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('BP神经网络')}
			</div>
			<div class="box-tools pull-right">
				<button  onclick="BPRUN()" class="btn btn-default"><i class="fa fa-filter"></i> 运行</button>
			</div>
		</div>
		<div class="box-body">

			<p id="test1">sdas</p>

		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
function BPRUN() {
	js.ajaxSubmit("BPrun", {}, result => {
		$('#test1').html(result);
	})
}
</script>