<% layout('/layouts/default.html', {title: 'u查询', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('U图')}
			</div>
			<div class="box-tools pull-right">
				<button  onclick="U_RUN()" class="btn btn-default"><i class="fa fa-filter"></i> 运行</button>
			</div>
		</div>
		<div class="box-body">
			<table id="postList"></table>
			<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
			<div id="main" style="height:580px"></div>
		</div>
		<div class="box-footer">
			<p style="text-align: center">software reliability - Powered By Wl Lzp Hlx Yyq</p>
		</div>
	</div>
</div>
<% } %>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
	function U_RUN() {
		js.ajaxSubmit("URun", {}, result => {
			//X的元素也是一个数组类型，即[[X,Y],[X,Y],[X,Y],[X,Y],.....]
			var X=new Array();
			var temp=new Array();
			var length=result.dataNum;
			for(var i=0;i<length-1;i++){
				//生成坐标点
				var temp1=new Array(result.X[i],result.Y[i]);
				X[2*i]=temp1;
				//为了画出阶梯状的折线图，所加的坐标点
				var temp2=new Array(result.X[i+1],result.Y[i]);
				X[2*i+1]=temp2;
			}
			var temp=new Array(1,1);
			X[length*2]=temp;

			require.config({
				paths: {
					echarts: 'http://echarts.baidu.com/build/dist'
				}
			});
			require(
					[
						'echarts',
						'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
					],
					function (ec) {
						// 基于准备好的dom，初始化echarts图表
						var myChart = ec.init(document.getElementById('main'));
						var option = {
							title : {
								text: 'U图',
							},
							tooltip : {
								trigger: 'axis',
							},
							legend: {
								data:['预测','实际']
							},
							toolbox: {
								show : true,
								feature : {
									mark : {show: true},
									dataZoom : {show: true},
									dataView : {show: true, readOnly: false},
									magicType : {show: true, type: ['line', 'bar']},
									restore : {show: true},
									saveAsImage : {show: true}
								}
							},
							calculable : true,
							xAxis : [
								{
									min:0,
									max:1,
									type: 'value'
								}
							],
							yAxis : [
								{
									min:0,
									max:1,
									type: 'value',
									axisLine: {
										lineStyle: {
											color: '#dc143c'
										}
									}
								}
							],
							series : [
								{
									name:'预测',
									type:'line',
									data:X

								},
								{
									name:'实际',
									type:'line',
									data:[[0,0],[1,1]]

								},

							]
						};

						// 为echarts对象加载数据
						myChart.setOption(option);
					}

			);
		})
	}
</script>